/*Font for body */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #646464;
    font-family: 'Lato', sans-serif;
}

/* Logo */

.title-text {
    font-size: 25pt;
    margin-top: 25px;
}

.navbar-brand {
    font-size: 24pt;
    color: #423e3f;
    font-weight: 700;
}

#fixed-nav {
    background-color: #82261f;
}

.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

.wine-wheel-image {
    max-width: 80%;
    max-height: 80%;
}

.subtitle-text {
    font-size: 20pt;
}

.details-icon {
    font-size: 15pt;
    color: #82261f;
}

/* ------------------------------------------------------------------------------- Fonts */

.text-black {
    color: black !important;
}

/* ------------------------------------------------------------------------------- Cards */

.card-img-top {
    max-width: 250px;
    max-height: 350px;
}

.product-detail-img {
    max-width: 350px;
    max-height: 500px;
    ;
}

/* ------------------------------------------------------------------------------- Buttons */

.category-badge>span.badge:hover {
    background: #82261f !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.alert {
    /* margin-top: 20px; */
}

.btn-primary {
    background-color: #82261f;
    border-color: #000;
}

.btn-primary:hover {
    background-color: #671e19;
    border-color: #000;
}

/* --------------------------------------------- Horizontal Rules */

/* Creates excellent division between different elements */
.block-divider {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    width: 30%;
}

/* Ensure that the below content doesn't intrude into the dividers space */
.block-divider-bottom-margin {
    margin-bottom: 20px;
}

/* ----------------------------------------------------------------------------------------------- Loading */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* ----------------------------------------------------------------------- Stripe (from the stripe documentation) */
StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* -------------------------------------------Selectors */

select,
select option,
#profile-form-input .form-control {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#profile-form-input::placeholder,
input[name='q']::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 250px;
    }

    body {
        height: calc(100vh - 150px);
    }

    .alert {
        margin-top: 200px;
    }
}