<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wines-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wines-link">
                <a href="{% url 'products' %}?category=red_wine" class="dropdown-item">Red Wines</a>
                <a href="{% url 'products' %}?category=white_wine" class="dropdown-item">White Wines</a>
                <a href="{% url 'products' %}?category=port" class="dropdown-item">Ports</a>
                <a href="{% url 'products' %}?category=red_wine,white_wine,port" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cheeses-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cheeses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cheeses-link">
                <a href="{% url 'products' %}?category=hard_cheese" class="dropdown-item">Hard Cheeses</a>
                <a href="{% url 'products' %}?category=soft_cheese" class="dropdown-item">Soft Cheeses</a>
                <a href="{% url 'products' %}?category=hard_cheese,soft_cheese" class="dropdown-item">All Cheeses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="additionals-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add-ons
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="additionals-link">
                <a href="" class="dropdown-item">Breads &amp; Crackers</a>
                <a href="" class="dropdown-item">Chutneys</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Add-ons</a>
            </div>
        </li>
    </ul>
</div>