{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="title-text mb-4 text-center">Recommend Me</h2>
            <hr class="block-divider block-divider-bottom-margin">
        </div>
    </div>



    <div class="row text-center">
        <form class="col-md-6" action="{% url 'choose' %}" method="GET">
            <div class="">
                {{ wineform | crispy }}
                <input type="submit" value="Create" />
            </div>
        </form>
        <form class="col-md-6" action="{% url 'choose' %}" method="GET">
            <div class="">
                {{ cheeseform | crispy }}
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<hr class="block-divider block-divider-bottom-margin">

<div class="row text-center mt-5">
    {% for product in products %}
    <div class="col-md-6">
        <div class="card h-100 w-50 mx-auto border-0">
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <!-- Add image not found image -->
                <img class="card-img-top img-fluid" src="{{ IMAGE_URL }}noimage.jpg" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
                <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0">
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 font-weight-bold">£{{ product.price }}</p>
                        {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr class="block-divider block-divider-bottom-margin">
</div>
{% endblock %}