{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="title-text mb-4 text-center">Recommend Me</h2>
            <hr class="block-divider block-divider-bottom-margin">
        </div>
    </div>

    <div>
        <h3 class="text-center mt-5">How it works</h3>
    </div>
    <hr class="block-divider block-divider-bottom-margin">
    <div class="container about-container text-center">
        <div class="row">
            <!--Step 1 - Find colour -->
            <div class="col-md-4">
                <i class="details-icon fas fa-wine-glass-alt"></i>
                <p>Decide if you are looking for Wine or Cheese.</p>
                <p>We'll match you based on what you know you like already.
                </p>
            </div>
            <!--Step 2 - Enter details -->
            <div class="col-md-4">
                <i class="details-icon fas fa-wine-glass-alt"></i><i class="details-icon fas fa-wine-glass-alt"></i>
                <p>If Cheese, pick the kind of Wine that you like.</p>
                <p>Or if Wine, pick the kind of Cheese you like.</p>
            </div>
            <!--Contact CTA -->
            <div class="col-md-4">
                <i class="details-icon fas fa-wine-glass-alt"></i><i class="details-icon fas fa-wine-glass-alt"></i><i
                    class="details-icon fas fa-wine-glass-alt"></i>
                <p>We'll give you a couple of tailor-made options.</p>
                <p>Click on one you like to see more details, and purchase if you so choose.</p>
            </div>
        </div>
    </div>
    <hr class="block-divider-bottom-margin">

    <div class="row text-center mt-5">
        <form class="col-md-6" action="{% url 'choose' %}" method="GET">
            <div class="">
                {{ wineform | crispy }}
                <input class="btn btn-primary" type="submit" value="Find me Cheese!" />
            </div>
        </form>
        <form class="col-md-6" action="{% url 'choose' %}" method="GET">
            <div class="">
                {{ cheeseform | crispy }}
                <input class="btn btn-primary" type="submit" value="Find me Wine!" />
            </div>
        </form>
    </div>
</div>

<hr class="block-divider block-divider-bottom-margin mt-5">

<div class="row text-center mt-5">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card h-100 w-50 mx-auto border-0">
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <!-- Add image not found image -->
                <img class="card-img-top img-fluid" src="{{ IMAGE_URL }}noimage.jpg" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
                <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0">
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 font-weight-bold">£{{ product.price }}</p>
                        {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr class="block-divider block-divider-bottom-margin">
</div>
{% endblock %}